@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
/* Allgemein -------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}
html, body {
    font-size: 1rem;
    font-family: Oswald, "Garamond Premier", sans-serif;
    font-weight: 300;
}
/* oswald-200 - latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 200;
    src: local(''), url('fonts/oswald-v31-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('fonts/oswald-v31-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oswald-300 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('/fonts/oswald-v31-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/oswald-v31-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oswald-regular - latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('fonts/oswald-v31-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('fonts/oswald-v31-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* LOGO-Einstellungen (in der Navigation) ----------------------------------------------------------------------*/
#zweitesA {
    fill: #D8BFA4;
    transform: translateX(23.5px);
    transform: rotate(180deg);
    transform-origin: 158.5px 26.5px; /* siehe https://www.mediaevent.de/tutorial/svg-transform.html */
    animation-name: zweitesA;
    animation-duration: 2.5s;
    animation-direction: normal;
    animation-fill-mode: forwards; /*Springt am Ende nicht zurück*/
}
@keyframes zweitesA {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(23.5px) rotate(180deg);
    }
}
/* flex-Boxen MOBILE*/
@media screen and (max-width:750px){
    /* INDEX ----------------------*/
        .respRahmen {
        height: 0;
        padding-top: 70%;
        position: relative;
    }
    .respRahmenInhalt {
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    #passwort {
        display: block;
        margin-top: 2rem;
    }
    
    #passwort .passwleft {
        display: block;
        width: 100%;
    }
    
    #passwort .passwright {
        display: block;
        text-align: center;
        margin-top: 2rem;
    }
    
    .grid { /*------------------------------LAYLA BILD-----------------------------------*/
        position: relative;
        width: 100%;
        list-style: none;
        text-align: center;
    }

    /* Common style */
    .grid figure {
        position: relative;
        overflow: hidden;
        text-align: center;
        cursor: pointer;
    }

    .grid figure img {
        position: relative;
        display: block;
        min-height: 100%;
        max-width: 100%;
        opacity: 0.7;
    }

    .grid figure figcaption {
        color: #fff;
        text-transform: uppercase;
        font-size: 1.25em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .grid figure figcaption::before,
    .grid figure figcaption::after {
        pointer-events: none;
    }

    .grid figure figcaption,
    .grid figure figcaption > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* Anchor will cover the whole item by default */
    /* For some effects it will show as a button */
    .grid figure figcaption > a {
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
    }

    .grid figure h2 {
        /*word-spacing: -0.15em;*/
        letter-spacing: 0.5px;
        font-weight: 300;
        font-size: 1.5rem;
    }

    .grid figure h2 span {
        letter-spacing: 0.5px;
        font-weight: 500;
        font-size: 1.5rem;
    }

    .grid figure h2,
    .grid figure p {
        margin: 0;
    }

    .grid figure p {
        letter-spacing: 0.5px;
        font-size: 0.9rem;
        font-weight: 300;
    }


    /* LAYLA Bild*/
    /* Individual effects */
    /*---------------*/
    /***** Layla *****/
    /*---------------*/

    figure.effect-layla {
        background: #000;
    }

    figure.effect-layla img {
        width: 100%;
    }


    figure.effect-layla figcaption::before,
    figure.effect-layla figcaption::after {
        position: absolute;
        content: '';
        opacity: 0;
    }

    figure.effect-layla figcaption::before {
        top: 50px;
        right: 30px;
        bottom: 50px;
        left: 30px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        -webkit-transform: scale(0,1);
        transform: scale(0,1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }

    figure.effect-layla figcaption::after {
        top: 30px;
        right: 50px;
        bottom: 30px;
        left: 50px;
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
        -webkit-transform: scale(1,0);
        transform: scale(1,0);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
    }

    figure.effect-layla h2 {
        padding-top: 26%;
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
    }

    figure.effect-layla p {
        /*padding: 0.5em 2em;*/
        text-transform: none;
        opacity: 0;
        -webkit-transform: translate3d(0,-10px,0);
        transform: translate3d(0,-10px,0);
    }

    figure.effect-layla img,
    figure.effect-layla h2 {
        -webkit-transform: translate3d(0,-30px,0);
        transform: translate3d(0,-30px,0);
    }

    figure.effect-layla img,
    figure.effect-layla figcaption::before,
    figure.effect-layla figcaption::after,
    figure.effect-layla p {
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
    }

    figure.effect-layla:hover img {
        opacity: 0.35;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    figure.effect-layla:hover figcaption::before,
    figure.effect-layla:hover figcaption::after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    figure.effect-layla:hover h2,
    figure.effect-layla:hover p {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    figure.effect-layla:hover figcaption::after,
    figure.effect-layla:hover h2,
    figure.effect-layla:hover p,
    figure.effect-layla:hover img {
        -webkit-transition-delay: 0.15s;
        transition-delay: 0.15s;
    } /*------------------------------LAYLA BILD-----------------------------------*/
    
    /* main Index passwortgeschützter Bereich*/
    main input {
        text-align: left;
        display: block;
        width: 50%;
        padding: 0.5%;
        background: rgba(216,191,164,0.30);
        font: 90% Oswald, sans-serif;
        font-weight: 300;
        margin-left: 27%;
    }
    .sf1 {
        width: 15%;
        text-align: center;
        margin-bottom: 1rem;
    }
    
    #passwort a {
        color:#000; 
        text-decoration:none; 
        background: #D8BFA4;
        padding: 0.2rem;
    }

    #passwort a:hover {text-decoration:underline;}

    
    /* PORTFOLIO ----------------------*/
    #content {
        margin-top: 3rem;
        margin-bottom: 3rem;
        width: 100%;
    }
    #content img {
        display: block;
        margin: auto;
        padding-bottom: 0.5rem;
        width: 80%;

    }
    .left, .middle, .right{
        border: 1px solid #D8BFA4;
        margin-bottom: 3rem;
    }     

    #content div:hover {
         opacity: 0.4;   
    }
    /* KONTAKT Formular --------------*/
    #formular input, textarea {
        display: block;
        width: 80%;
        margin: 1rem auto;
        padding: 0.5%;
        background: rgba(216,191,164,0.30);
        font: 90% Oswald, sans-serif;
        font-weight: 300;
    }  
    
    #formular input[type="checkbox"]{
        background:none;
    }

    #formular .buttonsend {
        width: 20%;
        text-align: center;
    }

    #contentK {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    #contentK img {
        width: 65%;
        border: 1px solid rgba(216,191,164,0.30);
        border-radius: 100%;    
        display: block;
        margin: auto;
        }
    .leftcont {
        border: 1px solid #D8BFA4;
        flex-basis: 35%;
        margin-bottom: 3rem;
    }
    .leftcont p {
        text-align: center;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .rightcont {
        border: 1px solid #D8BFA4;
        flex-basis: 58%;
    }
    .rightcont p {
        margin:auto;   
        width: 80%;
    }
}

/* flex-Boxen DESKTOP*/
@media screen and (min-width:751px){ 
    /* INDEX ----------------------*/
    
    #passwort {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }
    
    #passwort .passwleft {
        flex-basis: 50%;
    }
    
    #passwort .passwright {
        flex-basis: 50%;
        text-align: center;
        padding-top: 3rem;
    }
    
    
    .respRahmen {
        height: 0;
        padding-top: 90%;
        position: relative;
    }
    .respRahmenInhalt {
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .grid { /*------------------------------LAYLA BILD-----------------------------------*/
        position: relative;
        /*margin: 0 auto;
        padding: 1em 0 4em;*/
        max-width: 100%;
        list-style: none;
        text-align: center;
    }

    /* Common style */
    .grid figure {
        position: relative;
        float: left;
        overflow: hidden;
        max-height: 80%;
        text-align: center;
        cursor: pointer;
    }

    .grid figure img {
        position: relative;
        display: block;
        min-height: 100%;
        max-width: 100%;
        opacity: 0.7;
    }

    .grid figure figcaption {
        color: #fff;
        text-transform: uppercase;
        font-size: 1.25em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .grid figure figcaption::before,
    .grid figure figcaption::after {
        pointer-events: none;
    }

    .grid figure figcaption,
    .grid figure figcaption > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* Anchor will cover the whole item by default */
    /* For some effects it will show as a button */
    .grid figure figcaption > a {
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
    }

    .grid figure h2 {
        /*word-spacing: -0.15em;*/
        letter-spacing: 0.5px;
        font-weight: 300;
        font-size: 1.5rem;
    }

    .grid figure h2 span {
        letter-spacing: 0.5px;
        font-weight: 500;
        font-size: 1.5rem;
    }

    .grid figure h2,
    .grid figure p {
        margin: 0;
    }

    .grid figure p {
        letter-spacing: 0.5px;
        font-size: 0.9rem;
        font-weight: 300;
    }


    /* LAYLA Bild*/
    /* Individual effects */
    /*---------------*/
    /***** Layla *****/
    /*---------------*/

    figure.effect-layla {
        background: #000;
    }

    figure.effect-layla img {
        width: 100%;
    }


    figure.effect-layla figcaption::before,
    figure.effect-layla figcaption::after {
        position: absolute;
        content: '';
        opacity: 0;
    }

    figure.effect-layla figcaption::before {
        top: 50px;
        right: 30px;
        bottom: 50px;
        left: 30px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        -webkit-transform: scale(0,1);
        transform: scale(0,1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }

    figure.effect-layla figcaption::after {
        top: 30px;
        right: 50px;
        bottom: 30px;
        left: 50px;
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
        -webkit-transform: scale(1,0);
        transform: scale(1,0);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
    }

    figure.effect-layla h2 {
        padding-top: 26%;
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
    }

    figure.effect-layla p {
        padding: 0.5em 2em;
        text-transform: none;
        opacity: 0;
        -webkit-transform: translate3d(0,-10px,0);
        transform: translate3d(0,-10px,0);
    }

    figure.effect-layla img,
    figure.effect-layla h2 {
        -webkit-transform: translate3d(0,-30px,0);
        transform: translate3d(0,-30px,0);
    }

    figure.effect-layla img,
    figure.effect-layla figcaption::before,
    figure.effect-layla figcaption::after,
    figure.effect-layla p {
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
    }

    figure.effect-layla:hover img {
        opacity: 0.35;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    figure.effect-layla:hover figcaption::before,
    figure.effect-layla:hover figcaption::after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    figure.effect-layla:hover h2,
    figure.effect-layla:hover p {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    figure.effect-layla:hover figcaption::after,
    figure.effect-layla:hover h2,
    figure.effect-layla:hover p,
    figure.effect-layla:hover img {
        -webkit-transition-delay: 0.15s;
        transition-delay: 0.15s;
    } /*------------------------------LAYLA BILD-----------------------------------*/
    
    /* main Index passwortgeschützter Bereich*/
    main input {
        text-align: left;
        display: block;
        width: 50%;
        padding: 0.5%;
        background: rgba(216,191,164,0.30);
        font: 90% Oswald, sans-serif;
        font-weight: 300;
        margin-left: 27%;
    }
    .sf1 {
        width: 15%;
        text-align: center;
        margin-bottom: 1rem;
    }
    
    #passwort a {
        color:#000; 
        text-decoration:none; 
        background: #D8BFA4;
        padding: 0.2rem;
    }

    #passwort a:hover {text-decoration:underline;}

    /* PORTFOLIO ----------------------*/
    #content {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        margin-bottom: 6rem;
    }
    #content img {
        display: block;
        margin: auto;
        padding-bottom: 1rem;
        width: 85%;
    }
    .left, .middle, .right {
        border: 1px solid #D8BFA4;
        flex-basis: 30%;
    } 
    #content div:hover {
         opacity: 0.4;   
    }

    /* KONTAKT Formular --------------*/
    #formular input, textarea {
        display: block;
        width: 80%;
        margin: 1rem auto;
        padding: 0.5%;
        background: rgba(216,191,164,0.30);
        font: 90% Oswald, sans-serif;
        font-weight: 300;
    }   
    #formular input[type="checkbox"]{
        background:none;
    }
    #formular .buttonsend {
        width: 20%;
        text-align: center;
    }
    #contentK {
        display: flex;
        justify-content: space-between;
        margin-top: 5rem;
        margin-bottom: 6rem;
    }
    #contentK img {
        width: 65%;
        border: 1px solid rgba(216,191,164,0.30);
        border-radius: 100%;    
        display: block;
        margin: auto;
        }
    .leftcont {
        border: 1px solid #D8BFA4;
        flex-basis: 35%;
    }
    .leftcont p {
        text-align: center;
        padding-top: 1.5rem;
    }
    .rightcont {
        border: 1px solid #D8BFA4;
        flex-basis: 58%;
    }
    .rightcont p {
        margin:auto;   
        width: 80%;
    }
}
    

/* Mobile  --------------------------------------------------------- */
@media screen and (max-width:600px) {
    h1 {
        font-size: 2rem;
        font-weight: 200;
        color: white;
        text-shadow: 1px 1px 2px #757273;
        text-transform: uppercase;
        text-rendering: geometricPrecision;
        line-height: 200px;
    }
    h2 {
        font-size: 1.1rem;
        text-transform: uppercase;
        padding-top: 0.8rem;
        padding-bottom: 1rem;
        font-weight: 300;
        text-align: center;
    }

    h3 {
        font-weight: 400;   
        padding-top: 1rem;
        padding-bottom: 0.3rem;
    }

    #logo {
        float: left;
        width: 130px; /*Logo 20px kleiner als bei Desktop*/
        height: 80px;
        padding-top: 1rem;
    }
    /*Navigation --------------------------------------------------*/
    input[id*="checker"] {display: none;}
    #topnav {
        position: fixed;
        top: 2rem;
        right: -120px; /*dadurch sieht man nur noch das Plus*/
        transition: 0.5s;
        width: 120px;
        background: #000000;
        font-weight: 400;
    }
    #navchecker:checked ~ #topnav {
        right: 0;
    }
    #topnav p {
        font-size: 2.5rem;
        line-height: 2rem;
        font-weight: 200;
        color: #D8BFA4;
        position: absolute; /* wieso absolut?*/
        top: 0;
        background: #000000;
        width: 2.5rem;
        left: -2.5rem;
        text-align: center;
    }
    #topnav label {
        display: block;
        transition: 0.5s 0.5s;
    }
    #navchecker:checked ~ #topnav label {
        transform: rotate(45deg);
    }
    #topnav ul {
        list-style: none;
    }
    #topnav ul li a {
        text-decoration: none;
        color: #D8BFA4;
        display: block;
        /*border-top: 1.5px solid #fff;*/
        transition: 0.5s;
        line-height: 2.5rem;
    }
    #topnav li a:hover, #topnav li a.akt {
        /*border-top: 1.5px solid #D8BFA4;*/
        color: #fff;
    }
    /* header -------------------*/
    header {
        background: #D8BFA4;
        height: 160px;
    }
    header.index {
        background: linear-gradient(#D8BFA4 160px, #fff 160px);
        height: auto;
    }
    #imgflex {
        display: block;
        /*flex-direction: row;
        justify-content: space-between;
        align-self: baseline;
        flex-wrap: wrap;*/
    }
    .imgflex {
        width: auto;
        padding-bottom: 1rem;
    }
    
    /* header Portfoliobsp----*/
    #eins > header {
        background: url("../images/HG_Portfoliobsp.jpg") center fixed;
        background-size: cover;
	}
	#zwei > header{
        background: url("../images/HG_Portfoliobsp.jpg") center fixed;
		background-size: cover;
        margin-top: 3rem;

	}
	#drei > header{
        background: url("../images/HG_Portfoliobsp.jpg") center fixed;
		background-size: cover;
        margin-top: 3rem;
	}
    
    #back-top {
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        display: none; /* in javascript blenden wir es wieder ein */
        z-index: 100;
    }
    #back-top a {
        text-decoration: none;
        color: #fff;
        font-size: 1.25rem;
        background: #D8BFA4;
        padding: 0.5rem 1rem 0.7rem;
        display: block; /* wenn man das als Blockelement umwandelt, dann stimmt der Abstand wieder*/
        box-shadow: 1px 1px 2.5px 0.5px rgba(0, 0, 0, 0.2);
    }

    /* main */
    main { /* für den IE*/
        display: block;
    }
    main > article{
     padding: 2rem; 
    }
    .braunerHG {
        background: rgba(216,191,164,0.30);
    }
    .braunerHG a {
        color: #000;
    }
    
    /* main Portfolio */

    #flugblatt {
        margin: 1rem auto;
        width: 330px;
        height: 240px;
    }

    #flugblatt div {
        background-size: 100% 100%;
    }

    #zeitung {
        margin: 3rem auto;
        width: 330px;
        height: 240px;
        }

    #zeitung div {
        background-size: 100% 100%;
    }
        
     .galerie {
        column-count: 1;
        column-width: 300px;
        column-gap: 4px;
        margin: 1rem 0rem;
    }    

    .galerie2 {
        column-count: 1;
        column-width: 40%;
        column-gap: 30px;
        margin: 1rem 0rem;
    }
    
/*    .galerie2 img {
        display: block;
    }*/
    
/*    .rahmen {
        box-shadow: 0.1rem 0.1rem 0.2rem silver;
        padding-bottom: 3rem;
        margin-top: 1.5rem;
        margin-bottom: 5rem;
    }*/
    
    /* Fußzeile ------------------------------------*/
    footer {
        box-shadow: 0px 2.5px 5px -3px silver inset;
        padding-top: 0.2rem;
        padding-bottom: 0.1rem;
    }
    footer section {
        text-align: center;
    }
    footer section a {
        font-size: 0.8rem;
        text-decoration: none;
        color: #646464;
        padding: 0rem 0.8rem 0rem 0.8rem;
    }
    footer section a:hover {
        color: #000000;
    }
    
    /* Cookiedingsbums*/
    #cookiedingsbums a {color:#000; text-decoration:none;}

    #cookiedingsbums a:hover {text-decoration:underline;}

    #cookiedingsbums div {padding:6px; padding-right:30px;}

    #cookiedingsbums { 
       outline: 1px solid #D8D8D8;
       text-align:right; 
       border-top:1px solid #fff;
       background: #D8D8D8;
       background: -moz-linear-gradient(top, #D8D8D8 0%, #fff 100%); 
       background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D8D8D8), color-stop(100%,#fff)); 
       background: -webkit-linear-gradient(top, #D8D8D8 0%,#fff 100%); 
       background: -o-linear-gradient(top, #D8D8D8 0%,#fff 100%);
       background: -ms-linear-gradient(top, #D8D8D8 0%,#fff 100%); 
       background: linear-gradient(to bottom, #D8D8D8 0%,#fff 100%); 
       filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#d6e0eb', endColorstr='#f2f6f9',GradientType=0 ); 
       position:fixed;
       bottom:0px; 
       z-index:10000; 
       width:100%; 
       font-size:12px; 
       line-height: 14px;}

    #cookiedingsbumsCloser {
       color: #777;
       font: 14px/100%;
       /*position: absolute;*/
       /*right: 5px;*/
       position: absolute;
       text-decoration: none;
       text-shadow: 0 1px 0 #fff;
       top: 5px;
       cursor:pointer;
       border-top:0.8px solid white; 
       border-left:0.8px solid white; 
       border-bottom:0.8px solid #777;
       border-right:0.8px solid #777; 
       padding:4px;
       background: #D8D8D8; /* Old browsers */
       background: -moz-linear-gradient(top, #D8D8D8%, #fff 100%); 
       background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D8D8D8), color-stop(100%,#fff)); 
       background: -webkit-linear-gradient(top, #D8D8D8%,#fff 100%); 
       background: -o-linear-gradient(top, #D8D8D8%,#fff 100%); 
       background: -ms-linear-gradient(top, #D8D8D8%,#fff 100%); 
       background: linear-gradient(to bottom, #D8D8D8%,#fff 100%); 
       filter: progid:DXImageTransform.Microsoft.gradient(    startColorstr='#ced6df', endColorstr='#D8D8D8',GradientType=0 ); 
     }

    #cookiedingsbumsCloser:hover {border-bottom:0.8px solid white; border-right:0.8px solid white; border-top:0.8px solid #7b92a9; border-left:0.8px solid #D8D8D8;}    

    /* freie Klassen -----------*/
    .clearfix:after {
        content: "";
        display: block;
        clear: both;
    }
    .wrapper {
        max-width: 1200px;
        margin: auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .zweispalter {
        column-count: 1;
        /*column-gap: 2rem;*/
        text-align: justify;
        hyphens: auto;
    }
}

/* Tablet -----------------------------------------------------------*/
@media screen and (min-width:601px){
    h1 {
        font-size: 4.5rem;
        font-weight: 200;
        color: white;
        text-shadow: 1px 1px 2px #757273;
        text-transform: uppercase;
        text-rendering: geometricPrecision;
        line-height: 300px;
    }
    h2 {
        font-size: 1.1rem;
        text-transform: uppercase;
        padding: 0.8rem;
        font-weight: 300;
        text-align: center;
    }
    h3 {
        font-weight: 400;   
        padding-top: 1rem;
        padding-bottom: 0.3rem;
    }
    #logo {
        float: left;
        width: 150px;
        height: 80px;
        padding-top: 2.8rem;
    }
    /*Navigation --------------------------------------------------*/
    input[id*="checker"] {display: none;} /* Checkbox verbergen*/
    #topnav {
        height: 120px;
        font-size: 1.2rem;
        font-weight: 400;
    }
    #topnav ul {
        list-style: none;
        float: right;
    }
    #topnav li a {
        text-decoration: none;
        color: #000000;
        display: block;
        border-top: 1.5px solid #fff;
    }
    #topnav ul li {
        float: left;
        padding: 3.3rem 0rem 0rem 2rem; /* hier padding angegeben anstatt bei #topnav li a, damit border top nur über dem Wort steht */
    }
    #topnav li a:hover, #topnav li a.akt {
        border-top: 1.5px solid #D8BFA4;
    }
    .nodesk {
        display: none;
    }
       /* header -------------------*/
    header {
        background: #D8BFA4;
        height: 250px;
    }
    header.index {
        background: linear-gradient(#D8BFA4 250px, #fff 250px);
        height: auto;
    }
    #imgflex {
        display: block;
        /*flex-direction: row;
        justify-content: space-between;
        align-self: baseline;
        flex-wrap: wrap;*/
    }
    .imgflex {
        width: auto;
        padding-top: 0rem;
    }
    
    /* header Portfoliobsp----*/
    #eins > header {
        background: url("../images/HG_Portfoliobsp.jpg") center fixed;
        background-size: cover;
	}
	#zwei > header{
        background: url("../images/HG_Portfoliobsp.jpg") center fixed;
		background-size: cover;
        margin-top: 3rem;

	}
	#drei > header{
        background: url("../images/HG_Portfoliobsp.jpg") center fixed;
		background-size: cover;
        margin-top: 3rem;
	}
     
    #back-top {
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        display: none; /* in javascript blenden wir es wieder ein */
        z-index: 100;
    }
    #back-top a {
        text-decoration: none;
        color: #fff;
        font-size: 1.25rem;
        background: #D8BFA4;
        padding: 0.5rem 1rem 0.7rem;
        display: block; /* wenn man das als Blockelement umwandelt, dann stimmt der Abstand wieder*/
        box-shadow: 1px 1px 2.5px 0.5px rgba(0, 0, 0, 0.2);
    }

    /* main */
    main > article{
     padding: 2rem; 
    }
    .braunerHG {
        background: rgba(216,191,164,0.30);
    }
    .braunerHG a {
        color: #000;
    }
    
    /* main Portfolio */

    #flugblatt {
        margin: 3rem auto;
        width: 550px;
        height: 350px;
        /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
    }

    #flugblatt div {
        background-size: 100% 100%;
    }

    #zeitung {
        margin: 4rem auto 3rem auto;
        width: 550px;
        height: 350px;
        }

    #zeitung div {
        background-size: 100% 100%;
    }
    
    .galerie {
        column-count: 3;
        column-width: 300px;
        column-gap: 4px;
        margin: 1rem 0rem;
    }    

    .galerie2 {
        column-count: 2;
        column-width: 40%;
        column-gap: 30px;
        margin: 1rem 0rem;
    }
    
    .galerie2 img {
        display: block;
    }
    
    .rahmen {
        box-shadow: 0.1rem 0.1rem 0.2rem silver;
        padding-bottom: 3rem;
        margin-top: 1.5rem;
        margin-bottom: 5rem;
    }

    /* Fußzeile ------------------------------------*/
    footer {
        box-shadow: 0px 2.5px 5px -3px silver inset;
        padding-top: 0.2rem;
        padding-bottom: 0.1rem;
    }
    footer section {
        text-align: center;
    }
    footer section a {
        font-size: 0.8rem;
        text-decoration: none;
        color: #646464;
        padding: 0rem 0.8rem 0rem 0.8rem;
    }
    footer section a:hover {
        color: #000000;
    }
    
    /* Cookiedingsbums*/
    #cookiedingsbums a {color:#000; text-decoration:none;}

    #cookiedingsbums a:hover {text-decoration:underline;}

    #cookiedingsbums div {padding:6px; padding-right:30px;}

    #cookiedingsbums { 
       outline: 1px solid #D8D8D8;
       text-align:right; 
       border-top:1px solid #fff;
       background: #D8D8D8;
       background: -moz-linear-gradient(top, #D8D8D8 0%, #fff 100%); 
       background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D8D8D8), color-stop(100%,#fff)); 
       background: -webkit-linear-gradient(top, #D8D8D8 0%,#fff 100%); 
       background: -o-linear-gradient(top, #D8D8D8 0%,#fff 100%);
       background: -ms-linear-gradient(top, #D8D8D8 0%,#fff 100%); 
       background: linear-gradient(to bottom, #D8D8D8 0%,#fff 100%); 
       filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#d6e0eb', endColorstr='#f2f6f9',GradientType=0 ); 
       position:fixed;
       bottom:0px; 
       z-index:10000; 
       width:100%; 
       font-size:12px; 
       line-height: 14px;}

    #cookiedingsbumsCloser {
       color: #777;
       font: 14px/100%;
       /*position: absolute;*/
       /*right: 5px;*/
       position: absolute;
       text-decoration: none;
       text-shadow: 0 1px 0 #fff;
       top: 5px;
       cursor:pointer;
       border-top:0.8px solid white; 
       border-left:0.8px solid white; 
       border-bottom:0.8px solid #777;
       border-right:0.8px solid #777; 
       padding:4px;
       background: #D8D8D8; /* Old browsers */
       background: -moz-linear-gradient(top, #D8D8D8%, #fff 100%); 
       background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D8D8D8), color-stop(100%,#fff)); 
       background: -webkit-linear-gradient(top, #D8D8D8%,#fff 100%); 
       background: -o-linear-gradient(top, #D8D8D8%,#fff 100%); 
       background: -ms-linear-gradient(top, #D8D8D8%,#fff 100%); 
       background: linear-gradient(to bottom, #D8D8D8%,#fff 100%); 
       filter: progid:DXImageTransform.Microsoft.gradient(    startColorstr='#ced6df', endColorstr='#D8D8D8',GradientType=0 ); 
     }

    #cookiedingsbumsCloser:hover {border-bottom:0.8px solid white; border-right:0.8px solid white; border-top:0.8px solid #7b92a9; border-left:0.8px solid #D8D8D8;}    
    
    /* freie Klassen -----------*/
    .clearfix:after {
        content: "";
        display: block;
        clear: both;
    }
    .wrapper {
        max-width: 1200px;
        margin: auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .zweispalter {
        column-count: 2;
        column-gap: 2.25rem;
        text-align: justify;
        hyphens: auto;
    }

}


/* Desktop--------------------------------------------------------- */
@media screen and (min-width:985px) {
    h1 {
        font-size: 5rem;
        font-weight: 200;
        color: white;
        text-shadow: 1px 1px 2px #757273;
        text-transform: uppercase;
        text-rendering: geometricPrecision;
        line-height: 400px;
    }
    h2 {
        font-size: 1.1rem;
        text-transform: uppercase;
        padding: 0.8rem;
        font-weight: 300;
        text-align: center;
    }
    h3 {
        font-weight: 400;   
        padding-top: 1rem;
        padding-bottom: 0.3rem;
    }
    #logo {
        float: left;
        width: 150px;
        height: 80px;
        padding-top: 2.8rem;
    }
    /*Navigation --------------------------------------------------*/
    input[id*="checker"] {display: none;} /* Checkbox verbergen*/
    #topnav {
        height: 120px;
        font-size: 1.2rem;
        font-weight: 400;
    }
    #topnav ul {
        list-style: none;
        float: right;
    }
    #topnav li a {
        text-decoration: none;
        color: #000000;
        display: block;
        border-top: 1.5px solid #fff;
    }
    #topnav ul li {
        float: left;
        padding: 3.3rem 0rem 0rem 2rem; /* hier padding angegeben anstatt bei #topnav li a, damit border top nur über dem Wort steht */
    }
    #topnav li a:hover, #topnav li a.akt {
        border-top: 1.5px solid #D8BFA4;
    }
    .nodesk {
        display: none;
    }
    /* header -------------------*/
    header {
        background: #D8BFA4;
        height: 320px;
    }
    header.index {
        background: linear-gradient(#D8BFA4 68%, #fff 68%);
        height: auto;
    }
    #imgflex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: baseline;
        /*flex-wrap: wrap;*/
    }
    .imgflex {
        width: 600px;
        padding-top: 4rem;
        padding-bottom: 1.5rem;
    }
    /* header Portfoliobsp----*/
    #eins > header {
        background: url("../images/HG_Portfoliobsp.jpg") center fixed;
        background-size: cover;
	}
	#zwei > header{
        background: url("../images/HG_Portfoliobsp.jpg") center fixed;
		background-size: cover;
        margin-top: 3rem;

	}
	#drei > header{
        background: url("../images/HG_Portfoliobsp.jpg") center fixed;
		background-size: cover;
        margin-top: 3rem;
	}
    
    /* main Datenschutz und Impressum */
    main { /* für den IE*/
        display: block;
    }
    main > article{
     padding: 2rem; 
    }
    .braunerHG {
        background: rgba(216,191,164,0.30);
    }
    .braunerHG a {
        color: black;
    }

    /* main Portfolio */

    #flugblatt {
        margin: 3rem auto;
        width: 825px;
        height: 600px;
        /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
    }

    #flugblatt div {
        background-size: 100% 100%;
    }

    #zeitung {
        margin: 4rem auto 3rem auto;
        width: 850px;
        height: 600px;
        }

    #zeitung div {
        background-size: 100% 100%;
    }
    
    .galerie {
        column-count: 3;
        column-width: 300px;
        column-gap: 4px;
        margin: 1rem 0rem;
    }    

    .galerie2 {
        column-count: 2;
        column-width: 40%;
        column-gap: 30px;
        margin: 1rem 0rem;
    }
    
    .galerie2 img {
        display: block;
    }
        
    .rahmen {
        box-shadow: 0.1rem 0.1rem 0.2rem silver;
        padding-bottom: 3rem;
        margin-top: 1.5rem;
        margin-bottom: 5rem;
    }

    
    /* Fußzeile ------------------------------------*/
    footer {
        box-shadow: 0px 2.5px 5px -3px silver inset;
        padding-top: 0.2rem;
        padding-bottom: 0.1rem;
    }
    footer section {
        text-align: center;
    }
    footer section a {
        font-size: 0.8rem;
        text-decoration: none;
        color: #646464;
        padding: 0rem 0.8rem 0rem 0.8rem;
    }
    footer section a:hover {
        color: #000000;
    }
    
    /* Cookiedingsbums*/
    #cookiedingsbums a {color:#000; text-decoration:none;}

    #cookiedingsbums a:hover {text-decoration:underline;}

    #cookiedingsbums div {padding:6px; padding-right:30px;}

    #cookiedingsbums { 
       outline: 1px solid #D8D8D8;
       text-align:right; 
       border-top:1px solid #fff;
       background: #D8D8D8;
       background: -moz-linear-gradient(top, #D8D8D8 0%, #fff 100%); 
       background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D8D8D8), color-stop(100%,#fff)); 
       background: -webkit-linear-gradient(top, #D8D8D8 0%,#fff 100%); 
       background: -o-linear-gradient(top, #D8D8D8 0%,#fff 100%);
       background: -ms-linear-gradient(top, #D8D8D8 0%,#fff 100%); 
       background: linear-gradient(to bottom, #D8D8D8 0%,#fff 100%); 
       filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#d6e0eb', endColorstr='#f2f6f9',GradientType=0 ); 
       position:fixed;
       bottom:0px; 
       z-index:10000; 
       width:100%; 
       font-size:12px; 
       line-height: 14px;}

    #cookiedingsbumsCloser {
       color: #777;
       font: 14px/100%;
       /*position: absolute;*/
       /*right: 5px;*/
       position: absolute;
       text-decoration: none;
       text-shadow: 0 1px 0 #fff;
       top: 5px;
       cursor:pointer;
       border-top:0.8px solid white; 
       border-left:0.8px solid white; 
       border-bottom:0.8px solid #777;
       border-right:0.8px solid #777; 
       padding:4px;
       background: #D8D8D8; /* Old browsers */
       background: -moz-linear-gradient(top, #D8D8D8%, #fff 100%); 
       background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D8D8D8), color-stop(100%,#fff)); 
       background: -webkit-linear-gradient(top, #D8D8D8%,#fff 100%); 
       background: -o-linear-gradient(top, #D8D8D8%,#fff 100%); 
       background: -ms-linear-gradient(top, #D8D8D8%,#fff 100%); 
       background: linear-gradient(to bottom, #D8D8D8%,#fff 100%); 
       filter: progid:DXImageTransform.Microsoft.gradient(    startColorstr='#ced6df', endColorstr='#D8D8D8',GradientType=0 ); 
     }

    #cookiedingsbumsCloser:hover {border-bottom:0.8px solid white; border-right:0.8px solid white; border-top:0.8px solid #7b92a9; border-left:0.8px solid #D8D8D8;}    
    
    /* freie Klassen -----------*/
    .clearfix:after {
        content: "";
        display: block;
        clear: both;
    }
    .wrapper {
        max-width: 1200px;
        margin: auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .zweispalter {
        column-count: 2;
        column-gap: 2.25rem;
        text-align: justify;
        hyphens: auto;
    }
    
    .dreispalter {
        column-count: 3;
        column-gap: 3rem;
        text-align: justify;
        hyphens: auto;
    }
    }

